<div class="container">
    
    <h3 class="d-flex justify-content-center">Zadanie rekrutacyjne</h3>
    <h6 class="d-flex justify-content-center">Technologie: Angular, ASP.NET CORE, MSSQL, Bootstrap</h6>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="department" class="m-1 btn btn-light btn-outline-primary" Button>
                    Działy
                </button>
                <button routerLink="contractor" class="m-1 btn btn-light btn-outline-primary" Button>
                    Kontrahenci
                </button>
            </li>
        </ul>
    </nav>

<router-outlet></router-outlet>


</div>
